/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --corners-buttons-color: var(--accent-color);
  --main-question-color: var(--accent-color);
  --subtitle-text-color: var(--background-color);
  --article-text-color: #F1B2CE;
  --button-hover-color: #FF007066;
  --element-visibility: visible;
}
