/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --corners-buttons-color: #353430;
  --main-question-color: var(--corners-buttons-color);
  --subtitle-text-color: var(--corners-buttons-color);
  --article-text-color: var(--corners-buttons-color);
  --button-hover-color: #32312D66;
  --element-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --corners-buttons-color: #353430;
    --main-question-color: var(--corners-buttons-color);
    --subtitle-text-color: var(--corners-buttons-color);
    --article-text-color: var(--corners-buttons-color);
    --button-hover-color: #32312D66;
    --element-visibility: hidden;
  }
}
