/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: var(----black-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

/* Header */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: 10px;
  position: relative;
  min-height: 668px;
  height: 100vh;
}

.header__theme-menu {
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--font-size);
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  height: 26px;
  width: 70px;
  border: 1px solid transparent;
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid #FF007066;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: var(--font-size);
  font-weight: var(--normal-font-weight);
  line-height: 25px;
  color: var(--accent-color);
}

.header__rec-dot::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

/* Декоративные уголки */
.decorated-frame::before,
.decorated-frame::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-frame::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-frame::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.intro__title {
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--bold-font-weight);
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
}

/* Декоративный параграф */
.title-decor {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--bold-font-weight);
  line-height: 23.4px;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--black-color);
}

/* Main */
.main {
  padding: 40px 10px;
}

.reasons {
  display: grid;
  gap: 20px;
  margin-bottom: 50px;
}

.distractions {
  display: grid;
  gap: 20px;
  margin-bottom: 50px;
}

.advice {
  display: grid;
  gap: 20px;
  margin-bottom: 50px;
}

.advice__list {
  display: grid;
  gap: 20px;
}

.content__item {
  display: grid;
  row-gap: 10px;
}

.main-question__title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--bold-font-weight);
  line-height: 23.4px;
  color: var(--accent-color);
}

.article-content {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--normal-font-weight);
  line-height: 23.4px;
  color: var(--article-text-color);
  letter-spacing: 0%;
}

.advice__subtitle {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--normal-font-weight);
  line-height: 23.4px;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--black-color);
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-link:hover {
  border-bottom: 1px solid var(--article-text-color);
}

.content-link:focus {
  outline: 1px solid #F1B2CE;
}

.images {
  display: grid;
  gap: 10px;
}

.images__gallery {
  display: grid;
  gap: 10px;
}

.images__item {
  width: 100%;
  height: 100%;
}

/* Foother */

.foother {
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
}

.footer__title {
  justify-self: center;
  align-self: center;
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--bold-font-weight);
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .intro__title {
    position: relative;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-title {
    inline-size: 50%;
  }

  .decorated-frame::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-frame::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .main {
    padding: 60px 20px;
  }

  .reasons {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;
  }

  .distractions {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;
  }
  
  .advice {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;
  }

  .main-question__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .distractions .content__item {
    grid-column: 1 / 4;
  }

  .images {
    gap: 20px;
  }
  
  .images__gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  .images__item {
    object-fit: cover;
    object-position: center;
  }

  .images__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .images__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .images__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .images__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .images__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header-title {
    margin-block-start: 15px;
  }

  .reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons .content__item {
    grid-column: 2 / 4;
  }

  .distractions {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: start;
  }

  .distractions .main-question__title {
    grid-row: span 1;
  }

  .distractions .content__item {
    grid-row: 2 / 3;
    grid-column: span 1;
  }

  .advice {
    grid-template-columns: repeat(3, 1fr);
  }

  .advice .title-decor {
    grid-column: 2 / 4;
  }

  .advice .advice__list {
    grid-column: 2 / 4;
  }


}